.dialog {
    padding-left: 10px;
}
.dialog a {
    text-decoration: none;
    }
    .dialog a.active {
        color: yellow;
    }
.dialog img {
    vertical-align: middle;
    border-radius: 50%;
    margin: 5px 10px 0 0;
}