.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h h"
  "n m m"
  "f f f";
  grid-template-rows: 200px auto 60px;
  grid-template-columns: 30% auto auto;
  gap: 10px;

}
ul {
  list-style: none;
}